<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Kategori" android:label="KATEGORI BERITA" />
        <activity android:name=".TentangAplikasi" />
        <activity android:name=".Add" android:label="USULKAN BERITA" />
        <activity android:name=".Business" android:label="BISNIS"/>
        <activity android:name=".Entertainment" android:label="HIBURAN"/>
        <activity android:name=".Health" android:label="KESEHATAN"/>
        <activity android:name=".Science" android:label="PENGETAHUAN"/>
        <activity android:name=".Sports" android:label="OLAHRAGA"/>
        <activity android:name=".Technology" android:label="TEKNOLOGI"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DetailsActivity" />
    </application>

</manifest>